.notification-item {
    margin-bottom: 25px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    .figure {
        position: absolute;
        left: 0;
        top: 0;

        .rounded-circle {
            max-width: 70px;
        }
    }

    .text {
        padding-left: 85px;

        h4 {
            font-size: 15px;
            margin-bottom: 0;

            a {
                color: #000;

                &:hover {
                    color: #3644D9;
                }
            }
        }

        span {
            color: #6B7C8F;
            font-size: 14px;
            display: block;
            margin-top: 5px;
        }

        .main-color {
            color: #3644D9;
        }
    }

    .icon {
        a {
            i {
                font-size: 22px;
                transition: .4s;

                &:hover {
                    color: #3644D9;
                }
            }
        }
    }
}

a{
    text-decoration: none;
}