.news-feed-stories {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    .stories-title {
        h3 {
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 600;
        }

        span {
            a {
                color: #3644D9;
                font-size: 14px;
                border-bottom: 1px solid #3644D9;
                text-decoration: none;
            }
        }
    }

    .row {
        .col-lg-2 {
            .stories-personal-item {
                text-align: center;
                margin-top: 25px;

                .stories-image {
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        background-color: #000000;
                        opacity: 0;
                        border-radius: 5px;
                        visibility: hidden;
                        transition: .4s;
                    }

                    a {
                        img {
                            border-radius: 5px;
                            width: 56px;

                        }
                    }

                    .add-icon {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-align: center;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: .3s;
                        margin-top: 5px;
                        opacity: 0;
                        visibility: hidden;

                        i {
                            font-size: 20px;
                            color: #fff;
                        }
                    }

                    &:hover::before {
                        opacity: .50;
                        visibility: visible;
                    }

                    &:hover .add-icon {
                        margin-top: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                span {
                    display: block;
                    margin-top: 8px;
                    font-size: 14px;

                    a {
                        color: #6B7C8F;
                        text-decoration: none;
                        font-size: 12px;

                        &:hover {
                            color: #3644D9;
                        }
                    }
                }
            }
        }
    }
}